name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      
      - name: Install deps
        run: npm install
      
      - name: Type check
        run: npm run build
      
      - name: Run tests with coverage
        run: |
          cd tests
          npm install
          npm run test:coverage
      
      - name: Build plugin
        run: npm run build
      
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            main.js
            manifest.json
            styles.css
